@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Boas-vindas!</h1>
    <p>Começe a usar nosso portal agora mesmo!</p>
    <p>Acesse os dados, cadastre e edite sua lista de funcionários.</p>
    <p>Também é possivel ver a os gastos detalhados com os salários!</p>
    <a class="btn btn-primary" asp-controller="Funcionarios" asp-action="Index" >Gerencie seus Funcionários</a>
    <a class="btn btn-primary" asp-controller="Funcionarios" asp-action="Gastos">Tabela de Gastos</a>
</div>
